@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-rows: 120px 4fr;
}

.items {
  padding: 5px;
}

.sidebar {
  background: rgb(5, 143, 197);
  grid-area: 1 / 1 / 3 / 2;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr repeat(2, 3fr) 2fr;
}

.dashboard,
.sidetop,
.sidebot {
  display: grid;
  padding: 20px;
  grid-gap: 8px;
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  align-content: start;
  align-items: center;
}

.dashboard {
  grid-template-columns: auto 1fr;
  padding: 10px;
  font-size: 24px;
  user-select: none;
}

.dashboard img,
.sidetop img,
.sidebot img {
  filter: invert(100);
}

.sidetop a,
.sidebot a {
  text-decoration: none;
  font-size: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 20px;
  color: inherit;
  padding: 2px;
}

.sidetop a:hover,
.sidetop a:focus,
.sidebot a:hover,
.sidebot a:focus {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.header {
  background: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border: 2px solid green;
}

.headertop,
.headerbot {
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: 3.5fr minmax(170px, 2fr);
  grid-gap: min(100px, 5%);
  padding: 5px;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  grid-column: 1 / 2;
}

.right {
  grid-column: 2 / 3;
  justify-content: center;
  gap: clamp(5px, 30px, 10%);
}

.searchbar {
  min-width: 150px;
  border: 1px solid black;
  height: 25px;
  flex: 1;
}

.icon {
  width: 24px;
  height: 24px;
}

.smallAvi {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.main {
  background:silver;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 15px;
  grid-gap: 15px;
}

.projects {
  background: white;
}

.sideContents {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.announcements {
  background: white;
}

.trending {
  background: white;
}